<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/p_4/views/styles/bootstrap.min.css" /> 
        <link rel="stylesheet" type="text/css" href="/p_4/views/styles/styles.css" /> 
    {% endblock %}
    {% block javascript %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% endblock %}  
    <title>Blog en PHP</title>
</head>
<body class="bg-light">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/p_4">Blog en PHP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    {% if con == true %}
                        <li class="nav-item">
                            <a class="nav-link" href="/p_4">Accueil
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/p_4/posts">Les posts</a>
                        </li>
                    {% endif %}
                    {% if role == 1 %}
                        <li class="nav-item dropdown d-flex">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/p_4/admin">Accueil</a>
                                <a class="dropdown-item" href="/p_4/add_post">Ajouter un post</a>
                                <a class="dropdown-item" href="/p_4/commentaires">Gérer commentaire</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if con == true %}
                    <li class="nav-item">
                        <a class="nav-link" href="/p_4/disconnect">Se déconnecter</a>
                        
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>