<div class="container">
    <h2 class="text-center mt-4 mb-4">Ajouter un post</h2>
    <form action="" method="post">
        <div class="form-group mb-3">
            <input name="titre" class="form-control" type="text" placeholder="Titre">
        </div>
        <div class="form-group mb-3">
            <input name="image" class="form-control" type="file" placeholder="Image">
        </div>
        <div class="form-group mb-3">
            <textarea name="chapo" class="form-control" cols="130" rows="2" placeholder="Chapo"></textarea>
        </div>
        <div class="form-group mb-3">
            <textarea name="commentaire" class="form-control" cols="130" rows="5" placeholder="Contenu"></textarea>
        </div>
        <div class="form-group mt-2 mb-4">
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </div>
    </form>
</div>